body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f2f2f2;
    padding: 20px;
}
.error-message {
    color: red;
    font-size: 13px;
    margin-top: 4px;
    display: block;
}
.error-message {
    color: red;
    font-size: 13px;
    margin-top: 4px;
    display: block;
}

h3{
    margin: 30px 0 30px 0;
    
}
a{
    text-decoration: none;
   
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* التبويبات */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid #0077cc;
    font-weight: bold;
}

/* نموذج */
form fieldset {
    border: 1px solid #000000;
    padding: 24px;
    border-radius: 8px;
}

form legend {
    font-weight: bold;
    padding: 0 30px;
}

/* الشبكة */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"] {
    padding: 8px;
    border: 2px solid #121111;
    border-radius: 5px;
}

.inline-inputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.buttons-container {
    display: flex;
    flex-direction: column; /* ترتيب عمودي */
    align-items: center;    /* توسيط العناصر أفقياً */
    margin-top: 50px;       /* مسافة من الأعلى */
    gap: 25px;              /* مسافة بين زر التالي و الأزرار الثلاثة */
}

.bottom-buttons {
    display: flex;
    gap: 10px;              /* مسافة بين الأزرار الثلاثة */
}

button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 3px solid;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7c7d7d;
}